<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>批量操作</title>
    <script src="./vue.global.js"></script>
</head>
<body>

    <div id="app">
        


    </div>


    <script>
        window.addEventListener('pywebviewready', function () {
            console.log("is readlly")
            app.mount('#app')
        })
        const { createApp, ref } = Vue
        const app = createApp({
            data() {
                return {

                }
            },
            methods: {
                // <!-- 查询显示用户列表 -->
                
                // <!-- 将用户插入选择列表 -->
                // <!-- 将用户移除选择列表 -->

                // <!-- 查询用户数量 -->
                
                // <!-- 选择头像 -->

                // <!-- 选择背景图 -->

                // <!-- 选择昵称文件 -->

                // <!-- 选择个性签名文件 -->

                // <!-- 检测用户 cookies是否存在 -->

                // <!-- 加入任务队列 -->

                // <!-- 检查格式是否错误 -->

            },
            mounted(){

            }
        })

    </script>
    

</body>
</html>